@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}

a {text-decoration: none}

body {
	font-family: "Raleway", sans-serif;
}

main {
	flex:1;
}


/*   HEADER   */
nav {
	width:100%;
	position:fixed;
	top:0;
	left:0;
	background-color: #eff1ed;
	z-index: 99;
}

.navbar {
	max-width: 1200px;
	margin:auto;
	padding:1.5rem 1rem;
	display:flex;
	align-items: center;
	justify-content: space-between;
	
}

nav .logo a {
	font-family: "Michroma", sans-serif;
	font-size: 1.5rem;
	color: #344E41;
	transition:.3s;
}

nav .logo a:hover{
	color:#588157;
	
}

nav .checkbox {
	display:none;
}

nav input {
	display:none;
}

nav .checkbox i {
	font-size: 2rem;
	color:#344E41;
	cursor:pointer;
}

ul {
	display:flex;
	align-items: center;
	gap: 1rem;
	list-style:none;
	transition: left 0.3s
}

ul li a {
	padding:.5rem 1rem;
	border:2px solid transparent;
	text-decoration: none;
	font-family: "Michroma",sans-serif;
	color:#344E41;
	transition:0.3s;
}

ul li a:hover {
	color:#588157;
}

/*   BODY   */

.body {
	background: linear-gradient(#eff1ed 50%, #588157);
}

.body-container{
	min-height:96vh;
	max-width:1200px;
	display:grid;
	margin:auto;
	padding: 4rem;
	padding-top: 0;
	gap:4rem;
}

.content {
	display:flex;
	flex-direction: column;
	justify-content: center;
}

.description {
	text-align: center;
	letter-spacing:0.5px;
	font-size: 2rem;
	color:#3A5A40;
	font-weight:300;
	margin-bottom:3rem;
	line-height:2.5rem;
}

/*   BUTTONS   */
.action-btns {
	display:flex;
	flex-direction: row;
	justify-content: center;
	gap:1rem;
}

.action-btns button {
	font-family: "Michroma", sans-serif;
	text-decoration: none;
	color:#344E41;
	font-size:1rem;
	padding:1rem 2rem;
	outline:none;
	border:2px solid #3A5A40;
	border-radius: 7px;
	transition:0.3s;
	cursor:pointer;
}

.action-btns a {
	text-decoration: none;
	color:#344E41;
}

.explore-btn {
	background-color: #eff1ed;}
.explore-btn:hover {
	background-color: #A3B18A;}

.touch-btn {
	background-color: #eff1ed;}
.touch-btn:hover {
	background-color: #A3B18A}



/*   FOOTER   */

 .footer {
	display:flex;
	align-items: center;
	justify-content: space-between;
	background: #000;
	padding:10px 0 10px 0;
	text-decoration: none;
	 
	background-color: #588157;
}

.footer > .email {
	padding-left: 15px;
	
}

.footer > .social {
	padding-right: 15px;
}

.footer a {
	color:#eff1ed;
	transition: 0.3s;
}

.footer a:hover {
	color:#A3B18A;
}

.social a {
	padding-left: 10px
}


@media (max-width:600px){
	nav .checkbox {
		display:block;
	}
	
	ul {
		position:absolute;
		width:100%;
		height: calc(100vh - 85px);
		left: -100%;
		top:85px;
		background-color: #eff1ed;
		flex-direction:column;
		justify-content:center;
		gap:3rem;
	}
	
	nav #check:checked ~ ul{
		left:0;
	}
	
	ul li a {
		font-size:1.25rem;
	}
	
	.body-container {
		padding:8rem 1rem 10rem 1rem;
		font-size: 2rem;
		text-align: center;
		grid-template-columns: repeat"(1, 1fr)";
	}
	
	.image {
		grid-area: 1/1/2/2;
	}
	
	.action-btns {
		margin:auto;
	}
}

